body {
  margin: 0;
  background-color: rgb(213, 213, 213);
}
iframe {
  box-shadow: 4px 3px 5px 1px #333;
  border: 1px solid darkgrey;
  background-color: #fff;
}
.previewEmpty {
  background-color: #65719a;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 4px 3px 5px 1px #333;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-size: xx-large;
  font-weight: 900;
  overflow: hidden;
}
.top-pane {
  position: relative;
  height: 1px;
  min-height: 50vh;
  margin: 0.5rem;
  box-shadow: 4px 3px 5px 1px #333;
  /* box-shadow: 2px 2px 5px 1px inset #333; */
  background: url(../public/wrapBackgr.png) no-repeat #65719a center;
  background-size: 95%;
}

.pane {
  height: 1px;
  min-height: calc(50vh - 50px);
  display: flex;
  transition: all 0.5s;
  margin: 0.5rem;
  border: 1px solid #000;
}

.editor-container {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: #65719a;
  transition: all 0.5s ease-in-out;
}

.editor-title {
  display: flex;
  justify-content: space-between;
  background-color: hsl(225, 6%, 13%);
  color: rgb(124, 124, 124);
  font-size: 20px;
  font-family: "Roboto";
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  /* border-bottom: 1px solid #ccc; */
  margin-bottom: 5px;
}

.ace-editor-wrapper {
  flex-grow: 1;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  overflow: hidden;
  /* background: #27272e; */
}
.collabsed {
  flex-grow: 0;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: #65719a;
  transition: all 0.5s ease-in-out;
}

.editor-container.collabsed .ace-editor-wrapper {
  position: absolute;
}
.expand-collapse-btn {
  margin-left: 0.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
.collapse-icon {
  width: 23px;
  height: 19px;
}

.rectangle-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}
.close-btn-icon {
  width: 25px;
  height: 23px;
}
.rectangle-btn:hover {
  color: red;
}
.collabsed .editor-title {
  color: rgb(213, 213, 213);
  transition: all 3s;
}
.selectComp {
  background-color: rgb(200, 200, 200);
  color: rgb(0, 0, 0);
  font-size: 16px;
  width: 20%;
  border: 2px solid #000;
  border-radius: 0.3rem;
  text-align: center;
  font-family: "Roboto";
  box-shadow: 0 0 3px 1px rgb(173, 173, 173);
  text-shadow: 1px 1px 2px #666;
}
.collabsed .selectComp {
  visibility: hidden;
}
.btn-wrapper {
  display: flex;
}

.header {
  margin: 0.5rem;
  height: 70px;
  /* width: %; */
  /* background: linear-gradient(to right, #65719a, #9eacd7); */
  background: #65719a;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #333;
  padding: 0 15px;
  gap: 15px;
  box-shadow: 10px 3px 5px 1px #333;
  overflow: hidden;
}
.header-tools {
  display: flex;
  /* width: auto; */
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
header > div.header-tools > button {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px 0;
  width: 100px;
  height: 2rem;
}
div.userLogo {
  max-width: 4em;
  height: auto;
  margin-right: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userLogo img:hover {
  box-shadow: 0 0 4px 5px #333;
}
.userLogo img {
  box-shadow: 0 0 2px 1px #333;
  width: 100%;
  border-radius: 50%;
  transition: all 0.2s;
}
.logoImg {
  filter: drop-shadow(2px 2px 1px #000);
  cursor: pointer;
}
.add-editor-btn {
  width: 2rem;
  height: 2rem;
}
div.drop {
  max-width: 7rem;
}
a {
  text-decoration: none;
  color: azure;
  font-family: "Roboto";
  filter: drop-shadow(2px 2px 1px #000);
}
.acc-props {
  position: absolute;
  display: flex;
  z-index: 1;
  flex-direction: column;
  width: 20%;
  right: 2rem;
  top: 5rem;
  /* min-height: 30vh; */
  padding: 2rem;
  height: auto;
  border: 1px solid #000;
  background: rgba(255, 255, 255, 0.4);
  justify-content: space-evenly;
  align-items: center;
  border-radius: 1rem;
  gap: 20px;
  transition: all 0.6s;
}
.acc-props:hover {
  box-shadow: 0 0 30px 10px #444d69 inset, 0 0 8px 5px #444d69;
}
.acc-props-hidden {
  visibility: hidden;
  position: absolute;
}
